<body class="pages">
	<div class="block">  
	     <span class="highlight">ANNUAIRE INTERACTIF DU CONSEIL</span>
	     <span class="color">ANNUAIRE INTERACTIF DU CONSEIL</span>
	</div>
<p>L'annuaire du Conseil permet d'effectuer des recherches multi-critères mais aussi l'envoi en quelques-clics de demandes de prestations à l'ensemble des intervenants pertinents de la place de marché.
</p>


<% if user_signed_in?  %>
         
<div>
<div id="top-user-regions" class="clear-block">
<div class="user-region-inner" style="font-size: 1.3em;">
<h3><%= image_tag "client.png", :id => "toto" , :class => "gauche"     %>   Je suis un client</h3>

 <li>
<%= link_to "Je souhaite consulter la liste des cabinets de conseil", cabinets_path %>
 </li>
 <li>Je souhaite sélectionner un cabinet de conseil</li>
 <li>Je souhaite lancer un appel d'offre</li>
 <li>
	<%= link_to "Je souhaite témoigner pour un cabinet", new_testimonial_path %>
 </li>
 <li>Je souhaite évaluer un cabinet de conseil</li>
 <li>Je souhaite enregistrer mon profil</li>

</div>
</div>
<div id="lulu">
<div id="top-user-regions" class="clear-block">
<div class="user-region-inner" style="font-size: 1.3em;">

	<% if current_user.cabinet_id.nil? || current_user.cabinet_id == 0 %>

	<h3><%= image_tag("cabinet.png" , :class => "gauche") %>   
	Je suis un cabinet de conseil</h3>

	<li>
	<%= link_to "Je souhaite enregistrer mon profil", new_cabinet_path %>
	</li>


	</div>
	</div>
	
	<% else %>
	
	<h3><%= image_tag("cabinet.png" , :class => "gauche")   %>   

	Je suis un cabinet de conseil</h3>


	 <li>Je souhaite consulter les appels d'offre</li>
	 <li>Je souhaite soumettre ma proposition</li>
	 <li>
		<%= link_to "Je souhaite voir ou modifier mon profil", cabinet_path(current_user.cabinet_id)    %>  
	 </li>

	</div>
	</div>

	<% end %>
<% end %>
</div>
<div style = "clear:both">
<br>

 </body>
 