<% implantation = box %>
<div class="implantation">
  <%= link_to "Edit", edit_implantation_path(implantation) %> 
<p>
  <span id="titre" > <%= implantation.site %> </span>
</p>

<p>
  <strong>Adresse:</strong>
  <%= implantation.address %> 
</p>
	Latitude: <%= implantation.latitude %> Longitude: <%= implantation.longitude %>
</p>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{implantation.latitude}%2C#{implantation.longitude}" %>
</p>
<%
around = Cabinet.search({
  :geo  => [((implantation.latitude / 180.0)*Math::PI).to_f, ((implantation.longitude / 180.0)*Math::PI).to_f],
  :with => { "@geodist" => 0.0..50_000.0 },
  :order => '@geodist asc',
  :without => { :cabinet_id => @cabinet.id }
})

if around.any?
%>
  <h3>Aux alentours</h3>
  <ul>
    <% around.each_with_geodist do |cabinet, distance| %>
      <li><%= link_to cabinet.name, cabinet_path(cabinet) %> à <%= (distance / 1000).round %> km</li>
    <% end %>
  </ul>
<% end %>

</div>
