<%= simple_form_for @implantation do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.input :site, :hint => 'Entrer le nom du site' %>
	<%= f.input :address,  :hint => 'Entrer une adresse au format google map' %>
    <%= f.input :latitude, :as => :hidden %>
    <%= f.input :longitude, :as => :hidden %>
	<%= f.input :cabinet_id, :as => :hidden %>  
    
  </p>
  <p><%= f.submit %></p>
<% end %>
