<h1>Listing cabinets</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cabinets.each do |cabinet| %>
  <tr>
    <td><%= cabinet.name %></td>
    <td><%= link_to 'Show', cabinet %></td>
    <td><%= link_to 'Edit', edit_cabinet_path(cabinet) %></td>
    <td><%= link_to 'Destroy', cabinet, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cabinet', new_cabinet_path %>
