<h1>Listing cabinets</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cabinets.each do |cabinet| %>
  <tr>
    <td><%= cabinet.name %></td>
    <td><%= link_to 'Show', cabinet %></td>
    <td><%= link_to 'Edit', edit_cabinet_path(cabinet) %></td>
    <td><%= link_to 'Destroy', cabinet, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cabinet', new_cabinet_path %>

<br />
<ul>
  <li><%= link_to "Home"%></li>
<% if user_signed_in? %>
	<li>Sign in as <%= current_user.email %>. Not you ?
	<%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
<% else %>
<li>	<%= link_to "Sign up" , new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %></li>
<% end %>
</ul>
