
<p id="notice"><%= notice %></p>
<%= @profile %>

<%= image_tag @cabinet.logo.url unless @cabinet.logo_file_name.nil? %>

<p id="titre">
<span id="titre"> 
	<%= @cabinet.name %>
	<%= @cabinet.statut %>
</span>
<% unless @cabinet.rating.nil? %>	
	<% @cabinet.rating.times { %>
	<%= image_tag "star.png" %>
	<% } %>
<% end %>
<p>
	<b>Créé le :</b>
	<%= I18n.l @cabinet.creation_date %>
</p>

<p>
	<b>N° SIRET :</b>
	<%= @cabinet.siret %>
</p>

<p>
	<b>Site internet :</b>
	<%= link_to "#{@cabinet.cabinet_url}" , url_with_protocol(@cabinet.cabinet_url), :target => :blank %>
</p>

<p>
	<b>Description:</b>
	<%= @cabinet.description %>
</p>
<p>
	<b>Mots clés:</b>
	<%= @cabinet.tag_list %>
</p>
<div class="bandeau" id="p_contact">
    <%= image_tag "tirette.png", :class => "gauche", :id => "contact_image"  %>  <%= @contacts.count %> 
    contact(s). 
</div>
<br>

<div id="contact_panel" style="display:none">  
	<% if @contacts.nil? %>
	<% else %>
	<% @contacts.each do |contact| %>
	<% @contact = contact %>
	<%= render 'contacts/box' %>
	<% end %>
	<% end %>
	<br>
 <%=  button_to 'Ajouter un nouveau contact', contact_path(@cabinet.id) %>
</div>

<div style="clear: left;">


<div class="bandeau" id="p_implantation" >
    <%= image_tag "tirette.png", :class => "gauche"  %>  <%= @implantations.count %> 
    Implantation(s).
</div>   
<br>

<div id ="implantation_panel" style="display:none">
	<% if @implantations.nil? %>
	<% else %>
	<% @implantations.each do |implantation| %>
	<% @implantation = implantation %>
	<%= render 'implantations/box' %>
	<% end %>
	<% end %>
	<br>
<%=  button_to 'Ajouter une implantation', implantation_path(@cabinet.id) %>
</div>

<div class="bandeau" id="p_testimonial" >
    <%= image_tag "tirette.png", :class => "gauche"  %>  <%= @testimonials.count %> 
    témoignage(s) de clients.
</div>   
<br>
<div id ="testimonial_panel" style="display:none">
    <!-- <%=  button_to 'Ajouter un témoignage', testimonial_path(@cabinet.id) %> -->
	<% if @testimonials.nil? %>
	<% else %>
	<% @testimonials.each do |testimonial| %>
	<% @testimonial = testimonial %>
	<%= render 'testimonials/box' %>
	<% end %>
	<% end %>
	</p>
</div>
<div class="bandeau" id="p_social" >    
    <%= image_tag "tirette.png", :class => "gauche"  %>  Activité sur les réseaux sociaux
</div>   

<div id ="social_panel" style="display:none">
<p>
<% if @cabinet.linkedin.empty? %>
<% else %>
  <b>Linkedin:</b>
  <%= @cabinet.linkedin %>
<% end %>
</p>

<p>
<% if @cabinet.facebook.empty? %>
<% else %>
<%= image_tag "facebook.png" %>
  <b>Facebook:</b>
  <%= @cabinet.facebook %>
<% end %>
</p>

<div style="clear: left;">

<% if @cabinet.twitter.empty? %>
<% else %>

<div class="tweets"> 
<%= image_tag "twitter.png" , :align => 'center' %><b>  Dernier tweet:</b>
<%= @cabinet.twitter %></p>

<%= Twitter.user_timeline("#{@cabinet.twitter}").first.text %>

<% end %>
</div>
<br>


<%= link_to 'Edit', edit_cabinet_path(@cabinet) %> |
<%= link_to 'Back', cabinets_path %>
