<div class="testimonial" >
  <%= link_to "Modifier", edit_testimonial_path(@testimonial) %>
<p>
<div id="top-user-regions" class="clear-block">
<div class="user-region-inner" style="font-size: 1.3em;">
<blockquote>
  <%= @testimonial.citation %>
<br>
<span class="signature">	
<%= @testimonial.client_prenom %> <%= @testimonial.client_nom %> - <%= @testimonial.client_name %>
</span>
</blockquote>
</div>
</div>
</div>