<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>

  </head>
  <body>
      
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
<br>
<div id="user_nav">
	<% if user_signed_in? %>
	Vous êtes connecté comme <%= current_user.email %> Ce n'est pas vous ?
	<%= link_to "Se déconnecter" , destroy_user_session_path , :method => :delete%>    
	<% else %>
	<%= link_to "S'enregistrer", new_user_registration_path  %> or <%= link_to "Se connecter" , new_user_session_path %>
	<% end %>


</p>
<%= link_to "Se connecter avec Facebook", user_omniauth_authorize_path(:facebook) %>
</body>
</html>
